@import "./normalize.css";

/* #region BASE */
:root {
  --primary-text-color: #373737;
  --secondary-bg-color: #bdbdbd;
  --primary-bg-color: white;
  --bg-brown: #9f7657;

  /* --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px; */
}

html {
  font-size: 62.5%;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.4rem;
  background-color: var(--primary-bg-color);
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

/* #endregion */

/* #region CONTAINER */
.block {
  max-width: 1440px;
  margin-inline: auto;
}
/* #endregion */

/* #region BUTTONS */
.btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.4rem;
  border: 0;
}

.btn--gray {
  background-color: var(--secondary-bg-color);
  color: black;
}

.btn--black {
  background-color: black;
  color: white;
}

.btn--brown-outline {
  background-color: transparent;
  border: 1px solid var(--bg-brown);
}
.btn--white-outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
/* #endregion */

/* #region Hero */
.hero {
  text-align: center;
  padding: 6rem 1rem;
}

.hero__logo {
  scale: 0.75;
  margin-bottom: 2rem;
}

.hero__tagline {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 5.7rem;
  }

  .hero__tagline {
    font-size: 2.3rem;
  }

  .hero_btn {
    font-size: 2rem;
  }
}
/* #endregion */

/* #region SELECTION */

.selection {
  padding: 10rem 1rem;
  text-align: center;
}

.selection--light-gray {
  background-color: #eff0ea;
}

.selection__title {
  font-size: 1.3rem;
}

.selection__tag {
  font-size: 2.5rem;
}

.selection__text {
  margin-inline: auto;
  margin-bottom: 5rem;
  max-width: 60rem;
}

@media screen and (min-width: 640px) {
  .selection .card {
    text-align: left;
  }
}

/* #endregion */

/* #region CARD */
.card {
  max-width: 30rem;
  overflow: hidden;
}

.card__img {
  width: 100%;
  object-fit: cover;
}

.card__title {
  font-weight: 700;
}

.card__count {
  font-size: 4rem;
  font-weight: 100;
  opacity: 0.6;
  margin: 0;
}
/* #endregion */

/* #region GRID */

.grid {
  display: grid;
  gap: 2rem 7rem;
}

.grid--inline {
  display: inline-grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
}

@media screen and (min-width: 768px) {
  .grid--col3x {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 1024px) {
  .grid--col3x {
    grid-template-columns: auto auto auto;
  }
}
/* #endregion */

/* #region CTA-SECTION */
.cta-section {
  padding: 6rem 2rem;
  text-align: center;
}

.cta-section__text {
  margin-bottom: 2rem;
  max-width: 40rem;
  margin-inline: auto;
}

.cta-section--brown {
  background-color: var(--bg-brown);
  color: white;
}

@media screen and (min-width: 640px) {
  .cta-section {
    padding-block: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .cta-section {
    padding-block: 20rem;
  }
}
/* #endregion */

/* #region VISIT SECTION */
.visit-section {
  padding: 15rem 5rem;
  text-align: center;
}

.visit-section__title {
  font-weight: 100;
}

.visit-section__number {
  font-size: 3rem;
  font-weight: 700;
}

.visit-section__text {
  margin-bottom: 4rem;
}

.visit-section__logos {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.visit-section__logo > svg {
  /* scale: 0.1; */
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .visit-section__number {
    font-size: 5rem;
  }

  .visit-section__text {
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }

  .visit-section__logo > svg {
    scale: 1.5;
  }
}
/* #endregion */
