@import "./normalize.css";

:root {
  --primary-text-color: #373737;
  --secondary-bg-color: #bdbdbd;
  --primary-bg-color: white;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.8rem;
  background-color: var(--primary-bg-color);
}

h1 {
  font-size: 5.7rem;
  font-weight: 700;
}

h2 {
  font-size: 4.3rem;
  font-weight: 700;
}

h3 {
  font-size: 3.2rem;
  font-weight: 300;
}
