@import "./normalize.css";

:root {
  --primary-text-color: #373737;
  --secondary-bg-color: #bdbdbd;
  --primary-bg-color: white;
  /* --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px; */
}

html {
  font-size: 62.5%;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.4rem;
  background-color: var(--primary-bg-color);
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

/* Buttons */
.btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.4rem;
  border: 0;
}

.btn--gray {
  background-color: var(--secondary-bg-color);
  color: black;
}

.btn--black {
  background-color: black;
  color: white;
}

/* Hero */
.hero {
  text-align: center;
  padding: 6rem 1rem;
}

.hero__logo {
  scale: 0.75;
  margin-bottom: 2rem;
}

.hero__tagline {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 5.7rem;
  }

  .hero__tagline {
    font-size: 2.3rem;
  }

  .hero_btn {
    font-size: 2rem;
  }
}

/* SELECTION */

.selection {
  padding: 2rem 1rem;
}

/* CARD */

.card {
  max-width: 30rem;
  overflow: hidden;
}

.card__img {
  width: 100%;
  object-fit: cover;
}

.card__title {
  font-weight: 700;
}

.card__count {
  font-size: 4rem;
  font-weight: 100;
  margin: 0;
}
