<section class="selection selection--light-gray block">
  <h3 class="selection__title">THE SELECTION</h3>
  <h2 class="selection__tag">Our Chairs</h2>
  <p class="selection__text">
    We mostly sell one-off items. That means that we make one-of-a-kind
    furniture pieces so whoever buys it will have a unique item.
  </p>
  <div class="grid grid--col3x grid--inline">
    <div class="card">
      <img
        src="/assets/images/chair-1.jpg"
        alt="white chair"
        class="card__img"
      />

      <div class="">
        <h3 class="card__count">01</h3>
        <h4 class="card__title">Tufted white leather sofa chair</h4>
        <p class="card__text">
          This will fit perfectly in any beauty salon or modern home thanks to
          its timeless design.
        </p>
        <p class="card__price">$289</p>
      </div>
    </div>
    <div class="card">
      <img
        src="/assets/images/chair-2.jpg"
        alt="white chair"
        class="card__img"
      />

      <div class="">
        <h3 class="card__count">02</h3>
        <h4 class="card__title">Tufted white leather sofa chair</h4>
        <p class="card__text">
          This will fit perfectly in any beauty salon or modern home thanks to
          its timeless design.
        </p>
        <p class="card__price">$289</p>
      </div>
    </div>
    <div class="card">
      <img
        src="/assets/images/chair-3.jpg"
        alt="white chair"
        class="card__img"
      />

      <div class="">
        <h3 class="card__count">03</h3>
        <h4 class="card__title">Tufted white leather sofa chair</h4>
        <p class="card__text">
          This will fit perfectly in any beauty salon or modern home thanks to
          its timeless design.
        </p>
        <p class="card__price">$289</p>
      </div>
    </div>
  </div>
</section>
