<section class="visit-section block">
  <h3 class="visit-section__title">VISIT OUR STORE</h3>
  <h4 class="visit-section__number">(307) 555-0133</h4>
  <p class="visit-section__text">
    2972 Westheimer Rd. Santa Ana, Illinois 85486
  </p>
  <ul class="visit-section__logos">
    <li class="visit-section__logo">
      <svg>
        <use href="/assets/icons/twitter.svg#twitter" />
      </svg>
    </li>
    <li class="visit-section__logo">
      <svg>
        <use href="/assets/icons/facebook.svg#facebook" />
      </svg>
    </li>
    <li class="visit-section__logo">
      <svg>
        <use href="/assets/icons/instagram.svg#instagram" />
      </svg>
    </li>
  </ul>
</section>
